.not-found-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #181818;
  text-align: center;
}

.not-found-img {
  width: 350px;
  max-width: 90vw;
  margin-bottom: 24px;
}

.not-found-heading {
  font-size: 2rem;
  margin-bottom: 12px;
}

.not-found-desc {
  color: #b6c5ff;
  font-size: 1.1rem;
}
